body {
    margin: 0;
    padding: 0;
}

.navbar {

    border: 10px solid rgb(247, 164, 11);
    background-color: '#f7da8f';
    margin: -5px -5px 5px -5px;
}

.bar {

background-color: #f7da8f; 
margin-top: -10px;
margin-bottom: -10px;
padding-top: 0;
}

.nnn:hover {
    color: black;
    font-weight: 600;
}
