/* html, body {
    background: black;
    color: #00b800;
    margin:0;
    padding: 0;
    padding-top: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
} */


/* body {
    font-weight: 400;
} */


#typingCenter{
    text-align: center;
    align-items: center;
    display: block;
}

#ii {
    text-align: center;
    background-color: white;
    width: 50px;
    font-size:18px;
} 


button #bb{
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: 0 auto;
    border: none;
    background: #a80020;
    background: #00b800;
    padding: 10px 20px;
    text-transform: uppercase;
    
}

button:disabled {
    cursor: not-allowed;
}

h1 {
    font-size: 20px;
    text-align:center;
}

textarea {
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
    outline: none;
    height: 200px;
    background: #f1f3f1;
    padding: 10px;
    font-size: 18px;
}

textarea:disabled {
    background-color: #dad8d8;
}

#hidden {
    display: none
}